# What is Python?
### Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

# Start with Python
### Print a statement

In [3]:
print("Hello, World")

Hello, World

In [4]:
print("I forgot to add this code")

I forgot to add this code

In [5]:
print("Welcome to the introductory class of Python Programming.")

Welcome to the introductory class of Python Programming.

In [6]:
print("My name is Urmi Karmakar")

My name is Urmi Karmakar

# Let's do some arithmetic operation
### Addition

In [8]:
10+2

12

In [9]:
15+12

27

In [10]:
100+450

550

### Subtraction

In [11]:
50-30

20

In [16]:
30-16

14

In [12]:
60-40

20

### Multiplication

In [15]:
5*4

20

In [16]:
15*20

300

In [17]:
12*3

36

### Division

In [19]:
10/2

5.0

In [20]:
11/2

5.5

In [18]:
33/5

6.6

### Floor division

In [21]:
11//2

5

In [19]:
100//3

33

In [21]:
100//7

14

### Exponentiation

In [24]:
2**2

4

In [25]:
5**2

25

In [22]:
3**3

27

### Modulus

In [26]:
11%2

1

In [27]:
100%3

1

In [23]:
100%7

2

# Data Type
- Text Type
- Numeric Types
- Boolean Type
- Binary Types
- None Type

In [27]:
"This is the second class on Python"

'This is the second class on Python'

### Numeric Types
#### Integer and Float
#### Integer -> Whole Number
#### Float -> Real Number

In [2]:
10

10

In [3]:
10.333

10.333

### Booleans
##### True and False
##### False -> 0
##### True -> Other than 0

In [29]:
True

True

In [30]:
False

False

In [31]:
print(10>50)

False

In [32]:
print(50>10)

True

In [33]:
print(bool(1))

True

In [34]:
print(bool(0))

False

In [41]:
print(bool("Hello"))

True

In [44]:
print (bool)

<class 'bool'>

In [46]:
None

### Getting the Data Type

In [47]:
type("Hello Everyone")

str

In [15]:
type("This is the Python Class")

str

In [48]:
type("123")

str

In [49]:
type(123)

int

In [50]:
type(123.123)

float

In [19]:
type(True)

bool

In [20]:
type(False)

bool

In [22]:
type(0)

int

In [51]:
type(None)

NoneType

# Variable
### What is variable?
Python Variable is containers that store values

### Rules for Python variables
- A Python variable name must start with a letter or the underscore character.
- A Python variable name cannot start with a number.
- A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
- The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [75]:
first_name = "Urmi"

In [76]:
print(first_name)

Urmi

In [77]:
Name = "Urmi Karmakar"

In [78]:
print(Name)

Urmi Karmakar

In [57]:
_a = 5

In [58]:
print(_a)

5

### Python Assign Values to Multiple Variables

In [74]:
a = 7
b = 7
c = 7

In [72]:
a = b = c = 7

In [73]:
print(b)

7

### How does + operator work with variables?

In [79]:
a = 20
b = 30
print(a+b)

50

In [2]:
a = "My Name is"
b = "Urmi karmakar"

print(a + " " + b)

My Name is Urmi karmakar

### Type Casting in variable

In [83]:
number = "122334455"

In [88]:
print(number)

122334455

In [85]:
type(number)

str

In [86]:
new_number = int(number)

In [87]:
type(new_number)

int

In [90]:
char = "123"

In [91]:
type(char)

str

In [92]:
new_char = int(char)

In [93]:
print(new_char)

123

In [95]:
int(False)

0

In [97]:
bool(1)

True

In [100]:
bool("Hello")

True

In [101]:
bool()

False

In [4]:
a = 20.112
print(a)
new_a = int(a)
print(new_a)

20.112
20

In [5]:
b = 100
print(b)
new_b = float(b)
print(new_b)

100
100.0

### Get the variable type

In [112]:
type(b)

int

In [113]:
type(new_b)

float

### Print Variables

In [7]:
a = 10
b = 20
print(a+b)

30

In [115]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [8]:
first_name = "Urmi "
second_name = "Karmakar"
print(first_name + second_name)

Urmi Karmakar

In [9]:
first_name = "Urmi"
second_name = "Karmakar"
print(first_name, second_name)

Urmi Karmakar

In [10]:
Year = str(2024)
print("This is year " + Year)

This is year 2024

In [121]:
Year = 2024
print("This is year " + str(Year))

This is year 2024

In [12]:
Date = 24
Month = "July"
Year = 2024
print("Today is " + str(Date) + "th " + Month + ", " + str(Year) + ".")

Today is 24th July, 2024.

### Different Type of Variable Print

In [125]:
Date = 22
Month = "July"
Year = 2024
print(f"Today is {Date}th {Month}, {Year}.")
print(f"Today is {Month} {Date}th, {Year}.")

Today is 22th July, 2024.
Today is July 22th, 2024.

In [126]:
Date = 22
Month = "July"
Year = 2024
print("Today is {}th {}, {}.".format(Date, Month, Year))
print("Today is {} {}th, {}.".format(Month, Date, Year))

Today is 22th July, 2024.
Today is July 22th, 2024.

In [128]:
1/0

ZeroDivisionError: division by zero

# Comment in Python
### Single Line Comment

In [110]:
# Today is May 11th
# We are taking Python class

print("Hello World") # This is a line to print in Python

Hello World

In [111]:
# Today is May 11th
# We are taking Python class

print("Hello World") # This is a line to print in Python

### Multiline Comment

In [132]:
print("Hello World")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
# print("Do not print this line")
print("Goodbye")

Hello World
Goodbye

In [133]:
'''
Today is May 11th
We are taking Python class
'''
print("Hello World")

Hello World

In [134]:
"""
Today is July 22th
We are taking Python class
asa
d
asdad
as
"""
print("Hello World")

Hello World

# Python Strings

In [122]:
print("This is our second class in Python")

This is our second class in Python

In [124]:
print("0111223445666")

0111223445666

### Multiline Strings

In [140]:
b = '''The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical.'''

In [141]:
print(b)

The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical.

In [148]:
a = "The limerick packs laughs anatomical \nInto space that is quite economical. \nBut the good ones I've seen \nSo seldom are clean \nAnd the clean ones so seldom are comical."

In [149]:
print(a)

The limerick packs laughs anatomical
Into space that is quite economical.
But the good ones I've seen
So seldom are clean
And the clean ones so seldom are comical.

### Quotes Inside String

In [133]:
print("Frank Zappa says, 'So many books, so little time'")

Frank Zappa says, 'So many books, so little time'

In [134]:
print('Frank Zappa says, "So many books, so little time"')

Frank Zappa says, "So many books, so little time"

In [136]:
print("It's your choice")

It's your choice

### String <> Array
##### Char:  H e l l o
##### Index: 0 1 2 3 4

##### string[0] = H
##### string[1] = e
....
##### string[4] = o

In [152]:
string = "Hello"
print(string)

Hello

In [157]:
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[4])

H
e
l
l
o

### Slicing Strings
##### string [slicing_first_index : slicing_last_index+1 : increment or decrement]

In [23]:
name = "Urmi Karmakar"

In [24]:
print(name[4])
print(name[0])
print(name[5])

U
K

In [31]:
print(name[2:6])
print(name[:])
print(name[:6])
print(name[0:6])
print(name[5:])
print(name[: :2])
print(name[0:])
print(name[: :-1])

mi K
Urmi Karmakar
Urmi K
Urmi K
Karmakar
Um amkr
Urmi Karmakar
rakamraK imrU

### Modify Strings

In [13]:
name = "Urmi Karmakar"

In [14]:
print(name.upper())

URMI KARMAKAR

In [15]:
print(name.lower())

urmi karmakar

In [16]:
name = "     Urmi Karmakar       "

print(name.strip())

Urmi Karmakar

In [22]:
print(name.split())

['Urmi', 'Karmakar']

In [21]:
name = "Urmi Karmakar"
name1 = name.replace("U", "O")
print(name1)

Ormi Karmakar

In [204]:
string = "This is a very nice day Wow."
print(string.split())

['This', 'is', 'a', 'very', 'nice', 'day', 'Wow.']

### Concat Strings

In [208]:
a = "This"
b = "is the second"
c = "class on python"

In [209]:
final_string = a + " " + b + " " + c

In [210]:
print(final_string)

This is the second class on python

### Escape Characters

In [211]:
text = "This is the second class on \"Python\""

In [212]:
print(text)

This is the second class on "Python"

In [213]:
print("You may use \\n to create a new line.")

You may use \n to create a new line.

In [216]:
print('Frank Zappa says, \"So many books, so little time\"')

Frank Zappa says, "So many books, so little time"

# Operators

###### Unary Operators -> One variable requires
###### Binary Operators -> Two variables require
###### Ternary Operators -> Three variables require

In [247]:
a = 100 # Assign

In [237]:
a = a + 5
print(a)

105

In [238]:
a += 5
print(a)

110

In [239]:
a = a - 5
a -= 5
print(a)

100

In [240]:
a = a * 5
a *= 5
print(a)

2500

In [241]:
a = a/5
a /= 5
print(a)

100.0

In [242]:
a = a // 5
a //= 5
print(a)

4.0

In [248]:
a = a**5
a **= 5
print(a)

100000000000000000000000000000000000000000000000000

In [251]:
a = b = 5
print(a)
print(b)

5
5

In [254]:
a = 50
b = 50

print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

True
False
False
True
True
False

In [255]:
# Identity Operators

In [256]:
# Membership Operators
list2 = ['a', 'b', 'c']

for i in list2:
    print(i)

a
b
c

# Lists []

### List Items
- List items are ordered, changeable, and allow duplicate values.
- List items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
- When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
- If you add new items to a list, the new items will be placed at the end of the list.

In [32]:
car = ["Fiat", "BMW", "Audi", "Tesla"]
car

['Fiat', 'BMW', 'Audi', 'Tesla']

In [33]:
car = ["Fiat", "BMW", "Audi", "Tesla", 1, 1.233, True]
car

['Fiat', 'BMW', 'Audi', 'Tesla', 1, 1.233, True]

In [34]:
print(type(car))
type(car)

<class 'list'>

list

In [35]:
print(car[2])

Audi

In [36]:
print(len(car))

7

In [39]:
list1 = [True, False, False, True]
list2 = [1, 4, 6, True, False, 3,  5,       6,    False]
print(list1)
print(list2)

[True, False, False, True]
[1, 4, 6, True, False, 3, 5, 6, False]

### List Items

In [275]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Tata"]

In [276]:
print(car[3])

Tesla

In [277]:
## list_name[starting_index : ending_index + 1]
print(car[2:6])

['Audi', 'Tesla', 'Honda', 'Ford']

In [278]:
print(car[4:])

['Honda', 'Ford', 'Tata']

In [279]:
print(car[:3])

['Fiat', 'BMW', 'Audi']

In [280]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Tata"]
print(car[:2])
print(car[:])

['Fiat', 'BMW']
['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [281]:
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [284]:
print(car[1][2])

W

In [292]:
#Replace list item 
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2] = "Tata"
print(car)

['Fiat', 'BMW', 'Tata', 'Tesla', 'Honda', 'Ford']

In [293]:
#Replace list item
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:4] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota', 'Honda', 'Ford']

In [294]:
#Replace 1 list item add 2 list item
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:3] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota', 'Tesla', 'Honda', 'Ford']

In [295]:
#Replace list item after index 1 or in index 2
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:6] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota']

In [296]:
#No Replace add list item
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car[2:2] = ["Tata", "Toyota"]
print(car)

['Fiat', 'BMW', 'Tata', 'Toyota', 'Audi', 'Tesla', 'Honda', 'Ford']

In [298]:
#2D list item
car = ["Fiat", "BMW", ["Audi", "Tesla"], "Honda", "Ford"]
print(car[2][1])
print(car[2][0])
print(car[1][1])

Tesla
Audi
M

### Add and Remove List Items

In [299]:
#Add a list item in the last 
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.append("Tata")
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata']

In [42]:
#Add list item in specific index
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.insert(2, "Tata")
print(car)

['Fiat', 'BMW', 'Tata', 'Audi', 'Tesla', 'Honda', 'Ford']

In [302]:
#Add 2 list together
car1 = ["Fiat", "BMW", "Audi"]
car2 = ["Tesla", "Honda", "Ford"]

car1.extend(car2)
print(car1)
print(car2)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford']
['Tesla', 'Honda', 'Ford']

In [303]:
car1 = ["Fiat", "BMW", "Audi"]
car2 = ["Tesla", "Honda", "Ford"]

car2.extend(car1)
print(car1)
print(car2)

['Fiat', 'BMW', 'Audi']
['Tesla', 'Honda', 'Ford', 'Fiat', 'BMW', 'Audi']

In [93]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford']

In [310]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"]
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat']

In [311]:
car.remove("Fiat")
print(car)

['BMW', 'Audi', 'Tesla', 'Honda', 'Ford']

In [43]:
# shift each other place
car = ["Fiat", "BMW", "Audi"]

temp = car[0]
car[0] = car[2]
car[2] = temp

print(car)

['Audi', 'BMW', 'Fiat']

### Sort List

In [316]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.sort()
print(car)

['Audi', 'BMW', 'Fiat', 'Ford', 'Honda', 'Tesla']

In [317]:
number = [50,6,23,12,43,65,77,2]
number.sort()
print(number)

[2, 6, 12, 23, 43, 50, 65, 77]

In [318]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"]
car.sort(reverse = True)
print(car)

['Tesla', 'Honda', 'Ford', 'Fiat', 'BMW', 'Audi']

In [319]:
number = [50,6,23,12,43,65,77,2]
number.sort(reverse= True)
print(number)

[77, 65, 50, 43, 23, 12, 6, 2]

### Join Lists

In [321]:
list1 = ['a', 'b', 'c','d']
list2 = ['d', 'e', 'f']

list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 'd', 'd', 'e', 'f']
['d', 'e', 'f']

In [322]:
list1 = ['a', 'b', 'c','d']
list2 = ['d', 'e', 'f']

for item in list2:
    list1.append(item)
print(list1)

['a', 'b', 'c', 'd', 'd', 'e', 'f']

In [324]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f']

list3 = list1 + list2 # Add like a string 
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

# Tuple ()

##### Tuple items are ordered, unchangeable, and allow duplicate values.
##### Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [44]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford')

In [45]:
print(type(car))

<class 'tuple'>

In [48]:
car[2] = "Tata"

TypeError: 'tuple' object does not support item assignment

### You may check the tuple as you check the list

In [117]:
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat")

In [118]:
print(car[2:5])

('Audi', 'Tesla', 'Honda')

In [119]:
print(car[4:])

('Honda', 'Ford', 'Fiat')

In [120]:
print(car[:4])

('Fiat', 'BMW', 'Audi', 'Tesla')

In [121]:
print(car[-4:-1])

('Tesla', 'Honda', 'Ford')

### Add and Remove Tuple Items
##### Directly not support in tuple

In [334]:
# If add any item at first shift in list then add and again shift in tuple
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
car = list(car)
car.append("Tata")
car = tuple(car)

print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata')

In [335]:
# If remove any item at first shift in list then remove and again shift in tuple
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
car = list(car)
car.remove("Fiat")
car = tuple(car)

print(car)

('BMW', 'Audi', 'Tesla', 'Honda', 'Ford')

In [341]:
# Add 2 different tuple together 
car = ("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford")
add = ("Tata",) # , means this is a tuple for single item
car = car + add

print(car)

('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Tata')

# Set {}

### Set items are unordered, unchangeable, and do not allow duplicate values.

In [364]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford"}
print(car)

{'Honda', 'Fiat', 'Ford', 'Audi', 'Tesla', 'BMW'}

In [365]:
print(type(car))

<class 'set'>

In [367]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print(car)

{'Honda', 'Fiat', 'Ford', 'Audi', 'Tesla', 'BMW'}

In [368]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print(len(car))

6

In [369]:
#Use set() function
car = set(("Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"))
print(car)

{'Honda', 'Fiat', 'Ford', 'Tesla', 'BMW', 'Audi'}

### Access Set Items

In [371]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
for x in car:
    print(x)

Honda
Fiat
Ford
Audi
Tesla
BMW

In [372]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
print("Fiat" in car)

True

### List/Tuple/Set application

In [374]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat", "Ford", "Tesla", "Tesla"]
car = set(car)
car = list(car)

print(car)

['Honda', 'Fiat', 'Ford', 'Tesla', 'BMW', 'Audi']

In [375]:
car = ["Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat", "Ford", "Tesla", "Tesla"]
car = list(car)
print(car)
car = tuple(car) 
print(car)
car = set(car)
print(car)

['Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat', 'Ford', 'Tesla', 'Tesla']
('Fiat', 'BMW', 'Audi', 'Tesla', 'Honda', 'Ford', 'Fiat', 'Ford', 'Tesla', 'Tesla')
{'Honda', 'Fiat', 'Ford', 'Tesla', 'BMW', 'Audi'}

### Add Set Items

In [376]:
car = {"Fiat", "BMW", "Audi", "Tesla", "Honda", "Ford", "Fiat"}
car.add("Tata")
print(car)

{'Tata', 'Honda', 'Fiat', 'Ford', 'Audi', 'Tesla', 'BMW'}

In [378]:
car1 = {"Fiat", "BMW", "Audi"}
car2 = {"Tesla", "Honda", "Ford", "Fiat"}

car1.update(car2) # merge 2 set in car1
print(car1)
print(car2)

{'Honda', 'Fiat', 'Ford', 'Audi', 'Tesla', 'BMW'}
{'Honda', 'Fiat', 'Ford', 'Tesla'}

In [383]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

diff = shop1 - shop2
print(diff)

{'Honda', 'Ford', 'Tesla'}

In [381]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

inter = shop1.intersection(shop2) # common
print(inter)
print(shop1)
print(shop2)

{'Fiat'}
{'Honda', 'Fiat', 'Ford', 'Tesla'}
{'BMW', 'Fiat', 'Audi'}

In [384]:
shop1 = {"Tesla", "Honda", "Ford", "Fiat"}
shop2 = {"Fiat", "BMW", "Audi"}

inter = shop1.union(shop2) # common and all
print(inter)
print(shop1)
print(shop2)

{'Honda', 'Fiat', 'Ford', 'Audi', 'Tesla', 'BMW'}
{'Honda', 'Fiat', 'Ford', 'Tesla'}
{'BMW', 'Fiat', 'Audi'}

# Dictionaries { " " : " " }

##### Here, the key is "brand", "model", "year" and the value is "Ford", "Mustang", and 1964
##### Dictionary is ordered and changeable

In [386]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [411]:
print(type(car))
print(type(car["Brand"]))
print(type(car["Year"]))

<class 'dict'>
<class 'str'>
<class 'int'>

In [388]:
print(len(car))

3

In [392]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car["Brand"])
print(car["Model"])
print(car["Year"])

Ford
Mustang
1964

In [393]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car.keys())

dict_keys(['Brand', 'Model', 'Year'])

In [394]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car.values())

dict_values(['Ford', 'Mustang', 1964])

In [395]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car.items())

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964)])

In [401]:
# Replace value 
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
car["Brand"] = "Fiat"
car["Year"] = 2024
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Fiat', 'Model': 'Mustang', 'Year': 2024}

In [403]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
car["Color"] = "Blue"
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Blue'}

In [404]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}

print(car)
car.update({"Color": "Black"})
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964, 'Color': 'Black'}

In [405]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
car.pop("Model")
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Year': 1964}

In [407]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
car.popitem()
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Brand': 'Ford', 'Model': 'Mustang'}

In [408]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
}
print(car)
del car["Brand"] # For Delete Use del function
print(car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
{'Model': 'Mustang', 'Year': 1964}

### Nested Dictionaries and Lists

In [412]:
student = {
    "Asif": {"Class": 12, "Major": "CSE", "Section": "A"},
    "Dipon": {"Class": 12, "Major": "EEE", "Section": "B"}
}

In [413]:
print(type(student["Dipon"]))

<class 'dict'>

In [414]:
print(student["Asif"]["Section"])

A

In [417]:
student = {
    "Asif": {"Class": 12, "Major": "CSE", "Section": "A"},
    "Dipon": {"Class": 12, "Major": "EEE", "Section": "B"},
    "Tomal": [12, "ME", "C"]
}
print(student)

{'Asif': {'Class': 12, 'Major': 'CSE', 'Section': 'A'}, 'Dipon': {'Class': 12, 'Major': 'EEE', 'Section': 'B'}, 'Tomal': [12, 'ME', 'C']}

In [418]:
print( type(student["Asif"]))
print( type(student["Tomal"]))

<class 'dict'>
<class 'list'>

In [419]:
print(student["Tomal"] [1])
print(student["Tomal"] [0])

ME
12

In [420]:
info = {
  "first_name": "John",
  "last_name": "Smith",
  "is_alive": True,
  "age": 27,
  "address": {
    "street_address": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postal_code": "10021-3100"
  },
  "phone_numbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    }
  ],
  "children": [ "Catherine", "Thomas", "Trevor"],
  "spouse": None
}

In [426]:
print(info)
print(info["phone_numbers"][1]["number"])
print(type(info))

{'first_name': 'John', 'last_name': 'Smith', 'is_alive': True, 'age': 27, 'address': {'street_address': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postal_code': '10021-3100'}, 'phone_numbers': [{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}], 'children': ['Catherine', 'Thomas', 'Trevor'], 'spouse': None}
646 555-4567
<class 'dict'>

In [427]:
# Replace 
info["children"][0] = "Asif"
info["children"][1] = "Urmi"
info["children"][2] = "Arafat"
print(info)

{'first_name': 'John', 'last_name': 'Smith', 'is_alive': True, 'age': 27, 'address': {'street_address': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postal_code': '10021-3100'}, 'phone_numbers': [{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}], 'children': ['Asif', 'Urmi', 'Arafat'], 'spouse': None}

# If ... Else

#### if (condition):
#### &emsp; Code

In [428]:
a = 7
b = 5

if a>b:
    print("a is greater than b")

a is greater than b

### Indentation is important

In [435]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
    print("Hello World")

print("This is outside if Block")

This is outside if Block

In [56]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [438]:
a = 9
b = 7

if a>b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("b is greater than a")

a is greater than b

### We can write the statement in different way.

In [441]:
a = 5
b = 7

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [443]:
# Shortcut one line code
a = 5
b = 7
print("a is greater than b") if a>b else print("b is greater than a")

b is greater than a

### We can use and/or/not operation.

False and False = False <br>
False and True = False <br>
True and False = False <br>
True and True = True <br>

False or False = False <br>
False or True = True <br>
True or False = True <br>
True or True = True <br>

In [444]:
a = 100
b = 27
c = 50

if a>b and a>c:
    print("a is the largest number")
elif b>a and b>c:
    print("b is the largest number")
else:
    print("c is the largest")

a is the largest number

### Nested IF

In [450]:
city = "Chittagong"
graduation = True
experienced = True
publication = 10

if city == "Chittagong":
    if graduation:
        if experienced:
            if publication > 5:
                print("You are selected for the Head of the Department")
            else:
                print("You are selected for the Senior post")
                
        else:
            print("You are selected for the Junior post")
    else:
        print("You are not selected for the post")
else:
    print("You are not selected for the post because of the city")

You are selected for the Head of the Department

# Python Loop

In [77]:
print(type(range(1,10)))

<class 'range'>

In [79]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [456]:
for i in range(1, 11): # or for i in range(0, 10)
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [467]:
for i in range(0, 31, 5):
    print(i)

0
5
10
15
20
25
30

In [468]:
for i in range(30, 1, -4):
    print(i)

30
26
22
18
14
10
6
2

In [473]:
for i in range(1, -10, -3): 
    print(i)

1
-2
-5
-8

In [474]:
name = "Urmi Karmakar"
for i in range(0, len(name)):   ## range(0, 10)
    print(name[i])

U
r
m
i

K
a
r
m
a
k
a
r

### Combine Condition with Loop

### players = ["Sakib", "Tamim", "Mushfiq", "Liton", "Soummo", "Taskin"]

name = "Liton"

for player in players:
 #print(player)
    if name == player:
        print("You are selected")

In [491]:
players = ["Sakib", "Tamim", "Mushfiq", "Liton", "Soummo", "Taskin"]

name = "Tamim"
flag = False

for player in players:
    if name == player:
        print("You are selected")
        flag = True


if flag == False:
    print("You are not selected")

You are selected

### Nested For Loop

In [493]:
players = ["Tamim", "Mushfiq"]

for player in players:
    print(player)
    for char in player:
        print(char)

Tamim
T
a
m
i
m
Mushfiq
M
u
s
h
f
i
q

In [495]:
for i in range(1,6, 1):
    for j in range(1, 11):
        print(f"{i} * {j} = {i*j}")
    print("----------------------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
----------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
----------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
----------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
----------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
----------------------

### While Loop

In [498]:
i = 1
while i < 6:
    print(i)
    i += 1  ## Without this, We may fall in Infinity Loop

1
2
3
4
5

# List Comprehension

In [500]:
cars = ["Fiat", "Ford", "BMW", "Tata", "Toyota", "Audi", "Volkswagen"]

new_list = []
for car in cars:
    if 'a' in car or 'A' in car:
        new_list.append(car)

print(new_list)

['Fiat', 'Tata', 'Toyota', 'Audi', 'Volkswagen']

In [502]:
#Shortcut
cars = ["Fiat", "Ford", "BMW", "Tata", "Toyota", "Audi", "Volkswagen"]
new_list = [car for car in cars if 'a' in car or 'A' in car]
print(new_list)

['Fiat', 'Tata', 'Toyota', 'Audi', 'Volkswagen']

In [513]:
new_number = []
for i in range(1,11):
    if i>5:
        new_number.append(i)
print(new_number)

[6, 7, 8, 9, 10]

In [520]:
#Shortcut
new = [i for i in range(1,11) if i>4]
print(new)

[5, 6, 7, 8, 9, 10]

# Functions
### A function is a block of code that performs a specific task.

In [522]:
def print_statement():
    print("Hello World")
    print("This is Python programming class")
print_statement()

Hello World
This is Python programming class

In [523]:
print("This is before calling a function")
print_statement()
print("This is after calling a function")

This is before calling a function
Hello World
This is Python programming class
This is after calling a function

In [530]:
def summation(x,y):
    return x+y
summation(2,3)

5

In [535]:
a = 10
b = 20
summation(a, b)

30

In [536]:
a = 10
b = 20
new_sum = summation(a, b)
new_sum = new_sum**2
print(new_sum)

900

In [537]:
x1 = 10
y1 = 15
x2 = 20
y2 = 13

distance = ( (x1-x2)**2 + (y1-y2)**2 )**.5
print(distance)

10.198039027185569

In [4]:
def distance(x_1, y_1, x_2, y_2):
    distance = ( (x_1-x_2)**2 + (y_1-y_2)**2 )**.5
    return distance

In [7]:
x1 = 10
y1 = 15
x2 = 20
y2 = 13

new_distance = distance(x1, y1, x2, y2)
print(new_distance)

10.198039027185569

In [541]:
a1 = 50
b1 = 40
a2 = 80
b2 = 90

new_distance = distance(a1, b1, a2, b2)
print(new_distance)

58.309518948453004

### Two things to remember, Parameter and Argument
Parameters are the variables listed inside the parentheses in the function definition. They act like placeholders for the data the function can accept when we call them.
Arguments are the actual values that we pass to the function when we call it.

In [545]:
def print_date(Date, Month, Year, Hour, Min):
    print(f'Today is {Date}th {Month}, {Year}; {Hour}:{Min}')

In [546]:
print_date(24, "July", 2024, 3, 45)

Today is 24th July, 2024; 3:45

In [9]:
def print_date(Date, Month, Year, *args):
    if len(args) != 0:
        print(f'Today is {Date}th {Month}, {Year}; {args[0]}:{args[1]}')
    else:
        print(f'Today is {Date}th {Month}, {Year}')

In [11]:
print_date(24, "July", 2024)

Today is 24th July, 2024

## Default Parameter

In [551]:
def my_function(country = "Norway"):
  print("I am from " + country)
my_function()
my_function("Sweden")

I am from Norway
I am from Sweden

# Recursion

In [552]:
def factorial(value):
    if value == 0:
        return 1
    return value * factorial(value-1)

In [553]:
factorial(3)

6

# Python Lambda

In [1]:
def add(a,b):
  return a+b

add(5,7)

12

In [2]:
add = lambda a,b: a+b
add(5,10)

15

In [3]:
def distance(x1, y1, x2, y2):
  return ( (x1-x2)**2 + (y1-y2)**2 )**.5

distance(5,6,10,20)

14.866068747318506

In [4]:
new_distance = lambda x1, y1, x2, y2: ( (x1-x2)**2 + (y1-y2)**2 )**.5
new_distance(10,15,20,13)

10.198039027185569

# Python Variable Scope

In [5]:
def print_name(name):
  name = "Asif"
  print(f'My name is {name}')

name = "Iqbal"
print_name(name)
print(f'My name is {name}')

My name is Asif
My name is Iqbal

In [8]:
def grade(number):
  a = 100
  b = 20
  c = 12
  #print(a)
  if number>=100:
    number = 80
    print(f'The number is {number}')
    return number

  if number<=33:
    number = 33
    print(f'The number is {number}')
    return number

  print(f'The number is {number}')
  return number

In [9]:
number = 120
new_number = grade(number)

print(f'You got {number}, but the final number is {new_number}')

The number is 80
You got 120, but the final number is 80

In [10]:
a = 10

def print_a():
  a = 20
  print(f'The value of a inside the function is {a}')

print_a()
print(f'The value of a outside the function is {a}')

The value of a inside the function is 20
The value of a outside the function is 10

# Python Classes/Objects

### Classes:

###### Definition: A class in Python is a blueprint for creating objects. It defines a datatype by encapsulating the attributes and behaviors (methods) that the objects created from the class can perform.
###### Components: A class typically includes:
<br>
Attributes: Variables that store data specific to the class.
<br>
Methods: Functions that define behaviors of the class.

### Objects:

###### Definition: An object is an instance of a class. When a class is defined, no memory is allocated until an object of that class is created.
###### Creation: Objects are created by calling the class itself as if it were a function. This triggers the class's __init__ method, which initializes the object.
###### Usage: Objects access the attributes and methods of the class they were created from, allowing for individual object data and behaviors as defined by the class.

### __init__() Function
###### Purpose: The __init__() method is the constructor in Python. It's automatically invoked when a new object of a class is created.
###### Self Parameter: The first parameter of the __init__() method is self, which is a reference to the current instance of the class. It allows access to the attributes and methods of the class in Python.
###### Initialization: The __init__() method is used to initialize the attributes of an object. This method can take additional arguments to set the initial state of a new object.

In [12]:
class animal:
  legs = 0
  mammal = False
  bark = "------"
  is_pet = False

  def barks(self):
    print(self.bark)

  def pet(self):
    if self.is_pet == True:
      print("The animal is suitable for petting")
    else:
      print("The animal is not suitable for petting")

In [14]:
cat = animal

In [15]:
cat.legs

0

In [16]:
cat.mammal

False

In [17]:
class animal:

  def __init__(self, p_legs, p_mammal, p_bark, p_is_pet):
    self.legs = p_legs
    self.mammal = p_mammal
    self.bark = p_bark
    self.is_pet = p_is_pet

  def barks(self):
    print(self.bark)

  def pet(self):
    if self.is_pet == True:
      print("The animal is suitable for petting")
    else:
      print("The animal is not suitable for petting")

In [18]:
cat = animal(4, True, "Mhew Mhew", True)

In [19]:
cat.pet()

The animal is suitable for petting

In [20]:
cat.barks()

Mhew Mhew

In [21]:
cat.legs

4

In [22]:
class animal:

  def __init__(self, p_legs, p_mammal, p_bark, p_is_pet, fur, aggresive):
    self.legs = p_legs
    self.mammal = p_mammal
    self.bark = p_bark
    self.is_pet = p_is_pet
    self.fur = fur
    self.aggresive = aggresive

  def aggresive(self):
    print(self.aggresive)

  def barks(self):
    print(self.bark)

  def pet(self):
    if self.is_pet == True:
      print("The animal is suitable for petting")
    else:
      print("The animal is not suitable for petting")

In [32]:
cat = animal(4, True, "Mew Mew", True, True, False)

cow = animal(4, True, "Hamba Hamba", False, True, False)

eagle = animal(2, False, "Cho cho", False, True, True)

In [35]:
cat.barks()
cow.barks()
eagle.barks()
eagle.legs
cat.pet()
eagle.pet()

Mew Mew
Hamba Hamba
Cho cho
The animal is suitable for petting
The animal is not suitable for petting

In [36]:
class animal:

  def __init__(self, p_legs, p_mammal, p_bark, p_is_pet):
    self.legs = p_legs
    self.mammal = p_mammal
    self.bark = p_bark
    self.is_pet = p_is_pet

  def barks(self):
    print(self.bark)
    return 0

  def pet(self):
    if self.is_pet == True:
      print("The animal is suitable for petting")
    else:
      print("The animal is not suitable for petting")
    return 0

In [37]:
cat = animal(4, True, "Mew Mew", True)

In [38]:
print(cat.legs, cat.mammal, cat.barks(), cat.pet())

Mew Mew
The animal is suitable for petting
4 True 0 0

# Python RegEx
A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

### Metacharacters
<li>
[] ->	A set of characters <br>
. ->	Any character (except newline character) <br>
^ ->	Starts with <br>
$ ->	Ends with <br>
* ->	Zero or more occurrences <br>
+ ->	One or more occurrences <br>
? ->	Zero or one occurrences <br>
{} ->	Exactly the specified number of occurrences <br>
</li>

# Try .. Except

In [39]:
print("This is before try--except")


print("Hello World")
print(1/0)
print("This is python programming class.")

print("This is after try--except")

This is before try--except
Hello World

ZeroDivisionError: division by zero

In [40]:
print("This is before try--except")

try:
  print("Hello World")
  print(1/0)
  print("This is python programming class.")
except:
  print("Warning!!! Don't divide by 0")

print("This is after try--except")

This is before try--except
Hello World
Warning!!! Don't divide by 0
This is after try--except

In [41]:
car = ['Ford', "Fiat", "Audi"]

try:
  print(car[1])
except:
  print("Please check the index of the list")

Fiat

### try Block:
<li>
Purpose: This is where you place the code that might cause an exception during execution. The Python interpreter checks the code in this block for any errors.
</li>

### except Block:
<li>
Handling Exceptions: If an exception occurs in the try block, Python stops the execution of that block and transfers control to the except block. You can specify particular exceptions to catch or handle all exceptions generically.
</li>
<li>
Multiple Exceptions: You can have multiple except clauses to handle different exceptions in different ways.
</li>

### else Block:
<li>
No Exceptions: This block is executed if no exceptions were raised in the try block. It’s often used for code that should run if the try block was successful.
</li>
<li>
Placement: It must be placed after all except blocks.
</li>

### finally Block:
<li>
Always Executes: This block runs regardless of whether an exception was raised or not and whether it was caught if raised. It's typically used for clean-up actions, such as closing files or releasing resources.
</li>
<li>
Guaranteed Execution: Even if the program crashes or a return statement is encountered in the try or except blocks, the finally block will still execute.
</li>

### We can use try..except for multiple error.

In [43]:
car = ['Ford', "Fiat", "Audi"]

try:
  divide = 1/0
  print(car[3])
except:
  print("Please check the index of the list")

Please check the index of the list

In [44]:
car = ['Ford', "Fiat", "Audi"]
print(car[3])

IndexError: list index out of range

In [45]:
car = ['Ford', "Fiat", "Audi"]

try:
  divide = 1/0
  print(car[3])
except ZeroDivisionError:
  print("Don't divide by zero")
except IndexError:
  print("Please check the index of the list")
except:
  print("We are facing some Error")

Don't divide by zero

In [46]:
car = ['Ford', "Fiat", "Audi"]

try:
  print(car[3])
  divide = 1/0
except ZeroDivisionError:
  print("Don't divide by zero")
except IndexError:
  print("Please check the index of the list")
finally:
  print("This will always print in the try..except block")

Please check the index of the list
This will always print in the try..except block

# Read Documentation

In [47]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Python Inheritance
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [49]:
#Create a Parent Class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("Urmi", "Karmakar")
x.printname()

Urmi Karmakar

In [50]:
#Create a Child Class
class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

# Python Polymorphism
The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.
## Function Polymorphism
An example of a Python function that can be used on different objects is the len() function.
## Class Polymorphism
Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.

In [51]:
# Different classes with the same method:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

# Python Iterators
An iterator is an object that contains a countable number of values.
An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.
Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().
Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.
All these objects have a iter() method which is used to get an iterator:

In [52]:
# Create an Iterator
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.Return an iterator from a tuple, and print each value:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

# Create an Iterator
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.
As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.
The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.
The __next__() method also allows you to do operations, and must return the next item in the sequence.

In [53]:
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [54]:
#Stop after 20 iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# File Handling
The key function for working with files in Python is the open() function.
The open() function takes two parameters; filename, and mode.
There are four different methods (modes) for opening a file: <br>
"r" - Read - Default value. Opens a file for reading, error if the file does not exist <br>
"a" - Append - Opens a file for appending, creates the file if it does not exist <br>
"w" - Write - Opens a file for writing, creates the file if it does not exist <br>
"x" - Create - Creates the specified file, returns an error if the file exists <br>
In addition you can specify if the file should be handled as binary or text mode <br>
"t" - Text - Default value. Text mode <br>
"b" - Binary - Binary mode (e.g. images) <br>

In [58]:
#To open a file for reading it is enough to specify the name of the file:
f = open("demofile.txt")

In [59]:
#The code above is the same as:
f = open("demofile.txt", "rt")

In [61]:
f = open("demofile.txt", "r")
print(f.read())

Hello World
My name is Urmi Karmakar
I am a CSE student
123
456
16 June 2003, I was bron.
I am so friendly
I love my Family and Friends.

In [9]:
#Open a file on a different location:
f = open("E:\\skbit course\demofile.txt", "r")
print(f.read())

Hello World
My name is Urmi Karmakar
I am a CSE student
123
456
16 June 2003, I was bron.
I am so friendly
I love my Family and Friends.

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\user\AppData\Local\Temp\ipykernel_12324\1211261524.py:2: SyntaxWarning: invalid escape sequence '\d'
  f = open("E:\\skbit course\demofile.txt", "r")

In [62]:
# a file named "demofile", will be opened with the reading mode.
file = open("demofile.txt", 'r')

# This will print every line one by one in the file
for each in file:
    print (each)

Hello World

My name is Urmi Karmakar

I am a CSE student

123

456

16 June 2003, I was bron.

I am so friendly

I love my Family and Friends.

In [12]:
f = open("demofile.txt", "r")
print(f.read(5))

Hello

In [14]:
# Read one line of the file:
f = open("demofile.txt", "r")
print(f.readline())

Hello World

In [15]:
#Read two lines of the file:
f = open("demofile.txt", "r")
print(f.readline())
print(f.readline())

Hello World

My name is Urmi Karmakar

In [17]:
#Close the file when you are finish with it:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

Hello World